BookStore/.vs
BookStore/BookStore.InventoryManagement/bin
BookStore/BookStore.InventoryManagement/obj
BookStore/BookStore.InventoryManagementClient/bin
BookStore/BookStore.InventoryManagementClient/obj
