BookStore/.vs
BookStore/BookStore.InventoryManagement/bin
BookStore/BookStore.InventoryManagement/obj
BookStore/BookStore.InventoryManagementClient/bin
BookStore/BookStore.InventoryManagementClient/obj
BookStore/BookStore.InventoryManagement.Tests/bin
BookStore/BookStore.InventoryManagement.Tests/obj
BookStore/BooksStore.Web/bin
BookStore/BooksStore.Web/obj
